[MASTER]
ignored-classes=scoped_session
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    R0903, # too-few-public-methods
    R0913, # too-many-arguments
    E1101, # no-member ()
[TYPECHECK]
generated-members=wire
